

<head>
        <link rel="stylesheet" href="/static/css/account.css">
    </head>
    {% extends "layout.html" %} {% block title %}Account{% endblock %} {% block content %}
    

    <section class="account-info">
 
        
        
    <h3>$PΔCΞ CRΞD1T$</h3>
    <h3 id="balance"> {{ balance }}$</h3>
    </section>

    <section class="history">
        <h4>All Your History, Secure in the Rockchain</h4><br>
        <ul>
        {% for tx in transactions %}
            <li><span class="larger">{{ tx["desc"] }}</span><br><br>{{ tx["time"] }} - {{ tx["src"] }} - {{ tx["dst"] }} - {{ tx["amount"] }}$<hr></li>
        {% else %}
            No transactions yet
        {% endfor %}
        </ul>
    </section>
    <section class="fin">

        
    </section>
{% endblock %}
