<head>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
{% extends "layout.html" %} {% block title %}Login{% endblock %} {% block content %}

<!--
<div id="css-only-modals">
        <input id="modal1" class="css-only-modal-check" type="checkbox" checked/>
        <div class="css-only-modal">
            <label for="modal1" class="css-only-modal-close"><i class="fa fa-times fa-2x"></i>X</label>
            <h2>Login to the Spaceshop!</h2>
            <hr/>
            {% if error %}
            <div id="error">{{ error }}</div>
            {% endif %}
            <form method='POST' name="login_form" action="/login">
            Username: <input id="username" type="text" name="username"><br />
            Password: <input id="password" type="password" name="password"><br />
            <input type="submit" value="Beam me up, fam">
            </form>
            <label for="modal1" class="css-only-modal-btn btn btn-primary btn-lg">Nevermind</label>
                
        </div>
    <div id="screen-shade"></div>
    </div>
-->
<div id="modals">
        <input id="modal1" class="modal-check" type="checkbox" checked/>
        <div class="modal">
            <label for="modal1" class="modal-close">X</label>
            <h2>Enter the Black Market</h2>
            <hr/>
             {% if error %}
                <div id="error">{{ error }}</div>
            {% endif %}
            <form method='POST' class="login-form" name="login_form" action="/login">
                <input id="username" type="text" name="username" placeholder="Username"><br />
                <input id="password" type="password" name="password" placeholder="Password"><br />
                <button type="submit">"It's only illegal if you get caught"</button>
                </form>
    
        </div>
        
    <div id="screen-shade"></div>
    </div>



<!--
<div id="modals">
	<input id="modal1" class="modal-check" type="checkbox" checked/>
	<div class="modal">
		<label for="modal1" class="modal-close">X</label>
		<h2>Finna go hyperspace</h2>
        <hr/>
		 {% if error %}
            <div id="error">{{ error }}</div>
        {% endif %}
        <form method='POST' name="login_form" class="login-form" action="/login">
            <input id="username" type="text" placeholder="username">
            <input id="password" type="password" placeholder="password">
            <input type="submit" value="Beam me up, fam">
      
          </form>

    </div>
    
<div id="screen-shade"></div>
</div>-->


<section class="hero">
    <div class="black">
    <h2>Economy Crash!</h2>
    <h4>Limited time only. Everything 80% off!</h4>
    <a class="button corner-button-light" href="/shop">Market Rates</a>
    </div>
</section>

<section class="we-buy-mined-stuff">
    <h2>Get your moneys worth!</h2>
    <h5>Votes = $$. Artificially increase your voting count here!</h5>
    <img src="/assets/votes.png">
</section>

<section class="featured-items">
    <h2>Featured Items</h2>
    <div class="items">
        <div class="item big-item">
            <div>
            <p class="title">
                Micah's <br>Famous Hug
            </p><br>
            </div>
            <img src="/assets/items/micah.jpg">
            
        </div>
        <div class="item small-item">
            <img src="/assets/items/joe.jpg">
            <p class="title">
                    Joe's Everlasting Love
                </p><br>
        </div>
        <div class="item small-item">

            <img src="/assets/items/don.jpg">
            <p class="title">
                    Don's Diaphram Rant
                </p><br>
        </div>

    </div>
    <a class="button corner-button-dark" href="/shop">Start Splurging Already</a>

</section>

<section>

</section>


{% endblock %}
