/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*actual css*/





html{
    font-family: 'Arapey', serif;
    font-size: 1rem;
     
}
#error {
    color: red;
    font-weight: bold;
}
header{
    font-family: 'Rubik', sans-serif;
	background: none;
	position: absolute;
	z-index: 2;
	width: 100%;

    padding: 1% 0;
}

a{    font-family: 'Rubik', sans-serif;}

#nav-bar, #nav-bar-auth {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
	cursor: pointer;
}


#sub-nav-bar, #sub-nav-bar-auth{
    list-style-type: none;
text-align: center;
    width: 100%;
    padding: 0;
	padding-bottom: 1.2rem;
	cursor: pointer;

}
#nav-bar-auth *, #sub-nav-bar-auth *{
	color: #333;
}
.sub-nav-item{
    display: inline;
}
.nav-item {
    text-transform: uppercase;
    white-space: nowrap;
}
.nav-item .home{
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    margin-right: -10px; /*trailing space from letter spacing*/
}

.left-nav-item, .right-nav-item{
    width: 10%;
}
.bar{
    background: white;
    height: 3px;
    width: 35%;
}
#nav-bar-auth .bar, #sub-nav-bar-auth .bar{
    background: #333;

}
.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.2rem 16px;
    text-decoration: none;
}

.sub-nav-item a{
    color: white;
    text-decoration: none;
    padding: 1.2rem .7rem;
}


.corner-button-light {
	padding: .5rem;
	border-style: solid;
	border-width: 0.25em;
	border-image-source: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 48 48%22%3E%3Crect x=%223%22 y=%223%22 width=%2242%22 height=%2242%22 fill=%22transparent%22 stroke=%22%23fff%22 stroke-width=%226%22 %2F%3E%3C%2Fsvg%3E");
	border-image-slice: 50%;
	border-image-width: .75rem;
	cursor: pointer;
	text-transform: uppercase;

  }

  .corner-button-light:hover{
	  background: white;
	  color: #333;
	  -webkit-transition: all .3s ease;
	  transition: all .2s ease;
  }

  .corner-button-dark {
	padding: .5rem;
	border-style: solid;
	border-width: 0.25em;
	border-image-source: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 48 48%22%3E%3Crect x=%223%22 y=%223%22 width=%2242%22 height=%2242%22 fill=%22transparent%22 stroke=%22%23333%22 stroke-width=%226%22 %2F%3E%3C%2Fsvg%3E");
	border-image-slice: 50%;
	border-image-width: .75rem;
	cursor: pointer;
	text-transform: uppercase;
	color: #333;

  }

  .corner-button-dark:hover{
	  background: #333;
	  color: white;
	  -webkit-transition: all .3s ease;
	  transition: all .2s ease;
  }

  footer{
	  font-family: 'Rubik', sans-serif;
	  color: white;
	  font-size: 2rem;
	  text-align: center;
	  padding: 5vw;
	  background: #333;

  }