<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <ul id="nav-bar">
      {% if not session.token %}
        <li class="nav-item"><a href="{{ url_for('login') }}">Login</a></li>
      {% endif %}
      <li class="nav-item"><a href="{{ url_for('shop') }}">Shop</a></li>
      {% if session.token %}
        <li class="nav-item"><a href="{{ url_for('account') }}">Account</a></li>
        <li class="nav-item"><a href="{{ url_for('transfer') }}">Transfer</a></li>
        <li class="nav-item"><a href="{{ url_for('update_password') }}">Update Password</a></li>
        <li class="nav-item"><a href="{{ url_for('logout') }}">Logout</a></li>
      {% endif %}
    </ul>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>