<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <ul id="nav-bar">
      {% if not session.token %}
        <li class="nav-item"><a href="login">Login</a></li>
      {% endif %}
      <li class="nav-item"><a href="shop">Shop</a></li>
      {% if session.token %}
        <li class="nav-item"><a href="account">Account</a></li>
        <li class="nav-item"><a href="transfer">Transfer</a></li>
        <li class="nav-item"><a href="logout">Logout</a></li>
      {% endif %}
    </ul>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>