{% extends "layout.html" %}
{% block title %}Shop{% endblock %}
{% block content %}
    <div class="search-container">
        <form method="POST" name="search_form" action="/search">
          <input type="text" placeholder="Search.." name="search">
          <input type="submit" value="Submit">
        </form>
      </div>
    {% if error %}
      <div id="error">{{ error }}</div>
    {% endif %}
    <div id="result"></div>
    <ul class="items">
    {% for item in items %}
        <li class="item">{{ item["name"] }} - {{ item["price"] }}$<button class="buy" id="{{ item['uuid'] }}">Buy</button></li>
    {% else %}
        Couldn't find any items
    {% endfor %}
    </ul>
{% endblock %}
