<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Transfer</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</head>
<body>
    <form method='POST' name="transfer_form" action="/transfer">
        Team Number: <input id="team" type="text" name="recipient"><br />
        Amount: <input id="amount" type="text" name="amount"> <br />
        <input type="submit" value="Submit">
    </form><br />
</body>
</html>