{% extends "layout.html" %}
{% block title %}Transfer{% endblock %}
{% block content %}
    {% if error %}
        <div id="error">{{ error }}</div>
    {% endif %}
    {% if complete %}
        <div id="complete">{{ complete }}</div>
    {% endif %}
    <form method='POST' name="transfer_form" action="/transfer">
        Team Number: <input id="team" type="text" name="recipient"><br />
        Amount: <input id="amount" type="text" name="amount"> <br />
        <input type="submit" value="Submit">
    </form><br />
{% endblock %}