

<head>
        <link rel="stylesheet" href="/static/css/justforms.css">
    </head>

{% extends "layout.html" %}
{% block title %}Update Password{% endblock %}
{% block content %}
<section class="forms">
    {% if error %}
      <div id="error">{{ error }}</div>
    {% endif %}
    {% if complete %}
        <div id="complete">{{ complete }}</div>
    {% endif %}
    <h3>Change Your Password!</h3>
    <form method='POST' name="update_password" action="/update-password">
        <input id="old" type="password" name="old" placeholder="Old Password"><br />
        <input id="new" type="password" name="new" placeholder="New Password"><br />
        <input id="new" type="password" name="confirm" placeholder="Confirm Password"><br />
        <input type="submit" value="Submit">
    </form><br />
</section>
{% endblock %}
