{% extends "layout.html" %}
{% block title %}Update Password{% endblock %}
{% block content %}
    {% if error %}
      <div id="error">{{ error }}</div>
    {% endif %}
    {% if complete %}
        <div id="complete">{{ complete }}</div>
    {% endif %}
    <form method='POST' name="update_password" action="/update-password">
        Old Password: <input id="old" type="password" name="old"><br />
        New Password: <input id="new" type="password" name="new"><br />
        Confirm Password: <input id="new" type="password" name="confirm"><br />
        <input type="submit" value="Submit">
    </form><br />
{% endblock %}
